// Import abstracts
@import "abstracts/variables";

// Import layout
@import "layout/header";
@import "layout/footer";

// Import base
@import "base/font";

// Import pages
@import "pages/index";
@import "pages/sign-up.scss";
@import "pages/login.scss";
@import "pages/admin.scss";
@import "pages/admin-menu";
@import "pages/users";
@import "pages/show";
@import "pages/edit";
@import "pages/delete";
@import "pages/contact";
@import "pages/menu";
@import "pages/healthy-survey";
@import "pages/healthy-survey-page-1";

// Remove default padding and margin by the browser
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #000;
}