@import url("https://fonts.googleapis.com/css2?family=Redressed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
header {
  position: relative;
  height: 100vh;
  background-image: url("http://localhost/treat-migraine-naturally/public/images/brain-purple.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  header .header-navbar {
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 1rem; }
    header .header-navbar li {
      display: inline;
      font-size: 2rem;
      padding: 1rem; }
    header .header-navbar a {
      color: #fff;
      text-decoration: none; }
      header .header-navbar a:hover {
        text-decoration: underline;
        text-decoration-color: #B744B8; }
    header .header-navbar .header-navbar-admin a {
      color: #FFD400; }
    header .header-navbar .header-navbar-btn {
      font-family: 'Redressed', cursive;
      color: #CC79CD;
      float: right;
      margin: -1rem 1rem 0rem 0rem; }
      header .header-navbar .header-navbar-btn .header-navbar-btn-logout {
        font-size: 1rem;
        padding: .5rem;
        background-color: #000;
        border-radius: 5px;
        border: 1px solid #FFD400; }
        header .header-navbar .header-navbar-btn .header-navbar-btn-logout a {
          color: #FFD400; }
        header .header-navbar .header-navbar-btn .header-navbar-btn-logout:hover {
          border: 1px solid #B744B8; }
          header .header-navbar .header-navbar-btn .header-navbar-btn-logout:hover a {
            color: #B744B8;
            text-decoration: none; }
      header .header-navbar .header-navbar-btn .header-navbar-btn-login {
        font-size: 1rem;
        padding: .5rem;
        background-color: #000;
        border-radius: 5px;
        border: 1px solid #B744B8; }
        header .header-navbar .header-navbar-btn .header-navbar-btn-login a {
          color: #B744B8; }
        header .header-navbar .header-navbar-btn .header-navbar-btn-login:hover {
          border: 1px solid #FFD400; }
          header .header-navbar .header-navbar-btn .header-navbar-btn-login:hover a {
            color: #FFD400;
            text-decoration: none; }
  header .header-headline {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Redressed', cursive;
    font-size: 3rem;
    color: #fff;
    text-align: center;
    padding: 2rem; }

footer {
  margin: 20rem auto 0rem auto;
  text-align: center; }
  footer span {
    color: #ff0000;
    font-size: 1.5rem; }

.main-home-gridcontainer {
  height: 80vh;
  margin: 0 auto;
  border: 1px solid #ff0000;
  background-image: linear-gradient(to right bottom, rgba(238, 210, 238, 0.8), rgba(239, 241, 243, 0.8));
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: "container-one container-one container-one container-two container-two container-two" "container-three container-three container-four container-four container-five container-five"; }
  .main-home-gridcontainer .main-home-gridcontainer-container-one {
    grid-area: container-one;
    width: 95%;
    height: 90%;
    margin: auto;
    border: 1px solid #000; }
  .main-home-gridcontainer .main-home-gridcontainer-container-two {
    grid-area: container-two;
    width: 95%;
    height: 90%;
    margin: auto;
    border: 1px solid #000; }
  .main-home-gridcontainer .main-home-gridcontainer-container-three {
    grid-area: container-three;
    width: 90%;
    height: 90%;
    margin: auto;
    border: 1px solid #000; }
  .main-home-gridcontainer .main-home-gridcontainer-container-four {
    grid-area: container-four;
    width: 90%;
    height: 90%;
    margin: auto;
    border: 1px solid #000; }
  .main-home-gridcontainer .main-home-gridcontainer-container-five {
    grid-area: container-five;
    width: 90%;
    height: 90%;
    margin: auto;
    border: 1px solid #000; }
  .main-home-gridcontainer .main-home-gridcontainer-single {
    position: relative;
    overflow: hidden; }
    .main-home-gridcontainer .main-home-gridcontainer-single .main-home-gridcontainer-single-content {
      position: absolute;
      top: 0%;
      padding: 2rem;
      color: #fff;
      font-size: 1.2rem;
      line-height: 1.6; }
    .main-home-gridcontainer .main-home-gridcontainer-single img {
      display: block;
      width: 100%; }

.signup-main {
  width: 80%;
  margin: auto;
  text-align: center; }
  .signup-main .signup-main-form-gridcontainer {
    margin: auto;
    display: grid;
    width: 50%;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "signup-main-form-gridcontainer-firstname signup-main-form-gridcontainer-lastname" "signup-main-form-gridcontainer-email signup-main-form-gridcontainer-email-confirm" "signup-main-form-gridcontainer-password signup-main-form-gridcontainer-password-confirm" "signup-main-form-gridcontainer-password-show signup-main-form-gridcontainer-password-show" "signup-main-form-gridcontainer-submit signup-main-form-gridcontainer-submit"; }
    .signup-main .signup-main-form-gridcontainer .signup-main-form-gridcontainer-firstname {
      grid-area: signup-main-form-gridcontainer-firstname;
      margin: 1rem; }
    .signup-main .signup-main-form-gridcontainer .signup-main-form-gridcontainer-lastname {
      grid-area: signup-main-form-gridcontainer-lastname;
      margin: 1rem; }
    .signup-main .signup-main-form-gridcontainer .signup-main-form-gridcontainer-email {
      grid-area: signup-main-form-gridcontainer-email;
      margin: 1rem; }
    .signup-main .signup-main-form-gridcontainer .signup-main-form-gridcontainer-email-confirm {
      grid-area: signup-main-form-gridcontainer-email-confirm;
      margin: 1rem; }
    .signup-main .signup-main-form-gridcontainer .signup-main-form-gridcontainer-password {
      grid-area: signup-main-form-gridcontainer-password;
      margin: 1rem; }
    .signup-main .signup-main-form-gridcontainer .signup-main-form-gridcontainer-password-confirm {
      grid-area: signup-main-form-gridcontainer-password-confirm;
      margin: 1rem; }
    .signup-main .signup-main-form-gridcontainer .signup-main-form-gridcontainer-password-show {
      grid-area: signup-main-form-gridcontainer-password-show;
      margin: 1rem; }
    .signup-main .signup-main-form-gridcontainer .signup-main-form-gridcontainer-firstname {
      grid-area: signup-main-form-gridcontainer-firstname;
      margin: 1rem; }
    .signup-main .signup-main-form-gridcontainer .signup-main-form-gridcontainer-submit {
      grid-area: signup-main-form-gridcontainer-submit;
      margin: 1rem; }
  .signup-main .signup-main-error ul li {
    list-style-type: none; }

.login-main {
  width: 80%;
  margin: auto;
  text-align: center; }
  .login-main .login-main-form {
    width: 80%;
    margin: auto;
    text-align: center; }
    .login-main .login-main-form input {
      margin-bottom: 1rem; }
  .login-main .login-main-error ul li {
    list-style-type: none; }

.admin-main {
  width: 80%;
  margin: auto;
  text-align: center; }
  .admin-main .admin-main-form {
    width: 80%;
    margin: auto;
    text-align: center; }
    .admin-main .admin-main-form input {
      margin-bottom: 1rem; }
  .admin-main .admin-main-error ul li {
    list-style-type: none; }

.admin-menu-main {
  width: 80%;
  margin: auto;
  text-align: center; }
  .admin-menu-main .admin-menu-main-menu {
    width: 20%;
    margin: auto;
    padding: 1rem;
    font-size: 2rem;
    border: 1px solid #000; }

.users-main {
  width: 80%;
  margin: auto; }
  .users-main .users-main-newuser {
    margin: 0rem auto 2rem auto;
    border: 1px solid #000; }
  .users-main .users-main-list {
    margin: auto;
    padding: 2rem; }
    .users-main .users-main-list table,
    .users-main .users-main-list th,
    .users-main .users-main-list td {
      border: 1px solid #000; }
    .users-main .users-main-list table {
      width: 100%;
      border-collapse: collapse; }
      .users-main .users-main-list table th,
      .users-main .users-main-list table td {
        padding: 1rem; }

.show-main {
  width: 80%;
  margin: auto; }
  .show-main .show-main-user {
    margin: auto;
    padding: 2rem; }
    .show-main .show-main-user table,
    .show-main .show-main-user th,
    .show-main .show-main-user td {
      border: 1px solid #000; }
    .show-main .show-main-user table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 1rem; }
      .show-main .show-main-user table th,
      .show-main .show-main-user table td {
        padding: 1rem; }

.edit-main {
  width: 80%;
  margin: auto; }
  .edit-main .edit-main-user {
    margin: auto;
    padding: 2rem; }
    .edit-main .edit-main-user table,
    .edit-main .edit-main-user th,
    .edit-main .edit-main-user td {
      border: 1px solid #000; }
    .edit-main .edit-main-user table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 1rem; }
      .edit-main .edit-main-user table th,
      .edit-main .edit-main-user table td {
        padding: 1rem; }

.delete-main {
  width: 80%;
  margin: auto; }
  .delete-main .delete-main-user {
    margin: auto;
    padding: 2rem; }
    .delete-main .delete-main-user table,
    .delete-main .delete-main-user th,
    .delete-main .delete-main-user td {
      border: 1px solid #000; }
    .delete-main .delete-main-user table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 1rem; }
      .delete-main .delete-main-user table th,
      .delete-main .delete-main-user table td {
        padding: 1rem; }

* {
  padding: 0;
  margin: 0; }
