@import url("https://fonts.googleapis.com/css2?family=Redressed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
header {
  position: relative;
  height: 100vh;
  background-image: url("http://localhost/treat-migraine-naturally/public/images/brain-purple.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  header .header-navbar {
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 1rem; }
    header .header-navbar li {
      display: inline;
      font-size: 2rem;
      padding: 1rem; }
    header .header-navbar a {
      color: #fff;
      text-decoration: none; }
      header .header-navbar a:hover {
        text-decoration: underline;
        text-decoration-color: #B744B8; }
    header .header-navbar .header-navbar-admin a {
      color: #FFD400; }
    header .header-navbar .header-navbar-btn {
      font-family: 'Redressed', cursive;
      color: #CC79CD;
      float: right;
      margin: -1rem 1rem 0rem 0rem; }
      header .header-navbar .header-navbar-btn .header-navbar-btn-logout {
        font-size: 1rem;
        padding: .5rem;
        background-color: #000;
        border-radius: 5px;
        border: 1px solid #FFD400; }
        header .header-navbar .header-navbar-btn .header-navbar-btn-logout a {
          color: #FFD400; }
        header .header-navbar .header-navbar-btn .header-navbar-btn-logout:hover {
          border: 1px solid #B744B8; }
          header .header-navbar .header-navbar-btn .header-navbar-btn-logout:hover a {
            color: #B744B8;
            text-decoration: none; }
      header .header-navbar .header-navbar-btn .header-navbar-btn-login {
        font-size: 1rem;
        padding: .5rem;
        background-color: #000;
        border-radius: 5px;
        border: 1px solid #B744B8; }
        header .header-navbar .header-navbar-btn .header-navbar-btn-login a {
          color: #B744B8; }
        header .header-navbar .header-navbar-btn .header-navbar-btn-login:hover {
          border: 1px solid #FFD400; }
          header .header-navbar .header-navbar-btn .header-navbar-btn-login:hover a {
            color: #FFD400;
            text-decoration: none; }
  header .header-headline {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Redressed', cursive;
    color: #fff;
    text-align: center;
    padding: 2rem; }
    header .header-headline h1 {
      font-size: 5rem; }
    header .header-headline h2 {
      font-size: 3rem; }

footer {
  position: relative;
  height: 30vh;
  margin: 0rem auto 0rem auto;
  text-align: center;
  color: #fff;
  background-color: #000; }
  footer .footer-content {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%); }
    footer .footer-content .fab {
      padding: 1rem;
      font-size: 2rem; }
    footer .footer-content .fa-facebook-square {
      color: #3b5999; }
    footer .footer-content .fa-instagram {
      color: #e4405f; }
    footer .footer-content .fa-twitter-square {
      color: #55acee; }
    footer .footer-content .fa-linkedin {
      color: #0077B5; }
    footer .footer-content span {
      color: #ff0000;
      font-size: 1.5rem; }

.main-home-gridcontainer {
  height: auto;
  margin: 0 auto;
  background-image: linear-gradient(to right bottom, black, #33032f);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: "container-one container-one container-one container-one container-one container-one" "container-two container-two container-two container-two container-three container-three" "container-four container-four container-four container-five container-five container-five"; }
  .main-home-gridcontainer .main-home-gridcontainer-container-one {
    grid-area: container-one;
    width: 95%;
    height: 70%;
    margin: auto;
    border-radius: 5px; }
    .main-home-gridcontainer .main-home-gridcontainer-container-one .main-home-gridcontainer-single-content-one {
      position: absolute;
      bottom: 20%;
      padding: 6rem;
      color: #fff;
      font-size: 1.3rem;
      line-height: 1.6; }
    .main-home-gridcontainer .main-home-gridcontainer-container-one img {
      display: block;
      width: 100%;
      object-position: 0px -100px; }
  .main-home-gridcontainer .main-home-gridcontainer-container-two {
    grid-area: container-two;
    width: 95%;
    height: 90%;
    margin: auto;
    border-radius: 5px;
    border: 1px solid #000; }
    .main-home-gridcontainer .main-home-gridcontainer-container-two .main-home-gridcontainer-single-content-two {
      position: absolute;
      top: 0%;
      padding: 1rem;
      color: #fff;
      font-size: 1.3rem;
      line-height: 1.6; }
    .main-home-gridcontainer .main-home-gridcontainer-container-two img {
      display: block;
      width: 100%; }
  .main-home-gridcontainer .main-home-gridcontainer-container-three {
    grid-area: container-three;
    width: 90%;
    height: 90%;
    margin: auto; }
    .main-home-gridcontainer .main-home-gridcontainer-container-three .main-home-gridcontainer-single-content-three {
      bottom: 5%;
      padding: 6rem;
      color: #fff;
      text-align: center;
      font-size: 1.3rem;
      line-height: 1.6; }
      .main-home-gridcontainer .main-home-gridcontainer-container-three .main-home-gridcontainer-single-content-three .fab {
        padding: 1rem;
        font-size: 2rem; }
      .main-home-gridcontainer .main-home-gridcontainer-container-three .main-home-gridcontainer-single-content-three .fa-facebook-square {
        color: #3b5999; }
      .main-home-gridcontainer .main-home-gridcontainer-container-three .main-home-gridcontainer-single-content-three .fa-instagram {
        color: #e4405f; }
      .main-home-gridcontainer .main-home-gridcontainer-container-three .main-home-gridcontainer-single-content-three .fa-twitter-square {
        color: #55acee; }
      .main-home-gridcontainer .main-home-gridcontainer-container-three .main-home-gridcontainer-single-content-three .fa-linkedin {
        color: #0077B5; }
    .main-home-gridcontainer .main-home-gridcontainer-container-three img {
      display: block;
      width: 100%;
      border-radius: 50%; }
  .main-home-gridcontainer .main-home-gridcontainer-container-four {
    grid-area: container-four;
    width: 90%;
    height: 90%;
    margin: auto;
    border-radius: 5px;
    border: 1px solid #000; }
    .main-home-gridcontainer .main-home-gridcontainer-container-four .main-home-gridcontainer-single-content-four {
      position: absolute;
      top: 0%;
      padding: 2rem;
      color: #fff;
      font-size: 1.3rem;
      line-height: 1.6; }
    .main-home-gridcontainer .main-home-gridcontainer-container-four img {
      display: block;
      width: 100%; }
  .main-home-gridcontainer .main-home-gridcontainer-container-five {
    grid-area: container-five;
    width: 90%;
    height: 90%;
    margin: auto;
    background-color: #000;
    border-radius: 5px;
    border: 1px solid #000; }
    .main-home-gridcontainer .main-home-gridcontainer-container-five .main-home-gridcontainer-single-content-five {
      position: absolute;
      bottom: 0%;
      padding: 1rem;
      color: #fff;
      font-size: 1.3rem;
      line-height: 1.6; }
    .main-home-gridcontainer .main-home-gridcontainer-container-five img {
      display: block;
      width: 100%;
      object-position: 120px 0px; }
  .main-home-gridcontainer .main-home-gridcontainer-single {
    position: relative;
    overflow: hidden;
    font-family: 'Playfair Display', serif; }
    .main-home-gridcontainer .main-home-gridcontainer-single .first-letter {
      font-size: 35px; }
    .main-home-gridcontainer .main-home-gridcontainer-single a {
      text-decoration: none;
      color: #B744B8; }
    .main-home-gridcontainer .main-home-gridcontainer-single .main-home-gridcontainer-single-btn-wrap {
      width: 8rem;
      padding: 1rem;
      position: relative;
      background: linear-gradient(240deg, #B744B8 0%, #33032F 49%, #B744B8 80%, #B744B8 100%);
      padding: 3px;
      margin-top: 1rem;
      border-radius: 10px;
      animation: rainbow 3s linear infinite; }
      .main-home-gridcontainer .main-home-gridcontainer-single .main-home-gridcontainer-single-btn-wrap .main-home-gridcontainer-single-btn {
        background: #000;
        color: #B744B8;
        text-align: center;
        font-size: 1rem;
        padding: .5rem; }

@keyframes rainbow {
  to {
    background-position: 8rem; } }
      .main-home-gridcontainer .main-home-gridcontainer-single .main-home-gridcontainer-single-btn-wrap:hover {
        background: linear-gradient(240deg, #FFD400 0%, #000 49%, #FFD400 80%, #FFD400 100%); }
        .main-home-gridcontainer .main-home-gridcontainer-single .main-home-gridcontainer-single-btn-wrap:hover .main-home-gridcontainer-single-btn {
          color: #FFD400; }

.signup-main {
  width: 100%;
  height: auto;
  min-height: 100vh;
  margin: 0rem auto 0rem auto;
  padding-top: 10rem;
  text-align: center;
  background-image: linear-gradient(to right bottom, rgba(247, 247, 247, 0.8), rgba(183, 68, 184, 0.8)), url("http://localhost/treat-migraine-naturally/public/images/acquatic-jungle.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%); }
  .signup-main fieldset {
    width: 80%;
    margin: 0rem auto 0rem auto; }
    .signup-main fieldset legend {
      font-size: 2rem;
      padding: 3px 6px; }
    .signup-main fieldset .signup-main-error {
      width: 50%;
      font-size: 1.5rem;
      margin: 1rem auto 1rem auto;
      padding: 1rem; }
      .signup-main fieldset .signup-main-error ul li {
        list-style-type: none;
        color: #990000; }
    .signup-main fieldset .signup-main-confim {
      width: 100%;
      height: 70vh;
      margin: 1rem auto 1rem auto;
      padding: 1rem; }
      .signup-main fieldset .signup-main-confim p {
        font-size: 1.5rem; }
      .signup-main fieldset .signup-main-confim button {
        padding: .5rem 1.5rem;
        margin: 1rem;
        font-size: 1.2rem;
        background-color: #000;
        border: 3px solid #B744B8;
        border-radius: 5px;
        cursor: pointer; }
        .signup-main fieldset .signup-main-confim button a {
          text-decoration: none;
          color: #B744B8; }
        .signup-main fieldset .signup-main-confim button:hover {
          color: #FFD400;
          border: 3px solid #FFD400; }
          .signup-main fieldset .signup-main-confim button:hover a {
            color: #FFD400; }
    .signup-main fieldset .signup-main-form-gridcontainer {
      margin: auto;
      display: grid;
      width: 50%;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "signup-main-form-gridcontainer-firstname signup-main-form-gridcontainer-lastname" "signup-main-form-gridcontainer-email signup-main-form-gridcontainer-email-confirm" "signup-main-form-gridcontainer-password signup-main-form-gridcontainer-password-confirm" "signup-main-form-gridcontainer-submit signup-main-form-gridcontainer-submit"; }
      .signup-main fieldset .signup-main-form-gridcontainer section {
        text-align: left;
        font-size: 1.2rem;
        padding: 1rem; }
        .signup-main fieldset .signup-main-form-gridcontainer section label,
        .signup-main fieldset .signup-main-form-gridcontainer section input {
          display: block;
          margin: .5rem; }
        .signup-main fieldset .signup-main-form-gridcontainer section input {
          padding: .5rem;
          border: none;
          border-radius: 5px; }
        .signup-main fieldset .signup-main-form-gridcontainer section input[type="text"]:focus,
        .signup-main fieldset .signup-main-form-gridcontainer section input[type="email"]:focus,
        .signup-main fieldset .signup-main-form-gridcontainer section input[type="password"]:focus {
          outline: none;
          box-shadow: 0 0 0 4px #b744b8; }
      .signup-main fieldset .signup-main-form-gridcontainer .signup-main-form-gridcontainer-firstname {
        grid-area: signup-main-form-gridcontainer-firstname;
        margin: 1rem; }
      .signup-main fieldset .signup-main-form-gridcontainer .signup-main-form-gridcontainer-lastname {
        grid-area: signup-main-form-gridcontainer-lastname;
        margin: 1rem; }
      .signup-main fieldset .signup-main-form-gridcontainer .signup-main-form-gridcontainer-email {
        grid-area: signup-main-form-gridcontainer-email;
        margin: 1rem; }
      .signup-main fieldset .signup-main-form-gridcontainer .signup-main-form-gridcontainer-email-confirm {
        grid-area: signup-main-form-gridcontainer-email-confirm;
        margin: 1rem; }
      .signup-main fieldset .signup-main-form-gridcontainer .signup-main-form-gridcontainer-password {
        grid-area: signup-main-form-gridcontainer-password;
        margin: 1rem; }
      .signup-main fieldset .signup-main-form-gridcontainer .signup-main-form-gridcontainer-password-confirm {
        grid-area: signup-main-form-gridcontainer-password-confirm;
        margin: 1rem; }
      .signup-main fieldset .signup-main-form-gridcontainer .signup-main-form-gridcontainer-firstname {
        grid-area: signup-main-form-gridcontainer-firstname;
        margin: 1rem; }
      .signup-main fieldset .signup-main-form-gridcontainer .signup-main-form-gridcontainer-submit {
        grid-area: signup-main-form-gridcontainer-submit;
        margin: 0rem 1rem 1rem 1rem; }
        .signup-main fieldset .signup-main-form-gridcontainer .signup-main-form-gridcontainer-submit input {
          font-size: 1rem;
          padding: .5rem;
          color: #B744B8;
          background-color: #000;
          border: 3px solid #B744B8;
          border-radius: 5px;
          cursor: pointer; }
          .signup-main fieldset .signup-main-form-gridcontainer .signup-main-form-gridcontainer-submit input:hover {
            color: #FFD400;
            border: 3px solid #FFD400; }

.login-main {
  width: 80%;
  height: auto;
  min-height: 50vh;
  margin: auto;
  text-align: center; }
  .login-main fieldset {
    width: 80%;
    margin: 0 auto 0 auto;
    color: #B744B8; }
    .login-main fieldset legend {
      font-size: 2rem;
      padding: 3px 6px; }
    .login-main fieldset .login-main-error {
      width: 50%;
      font-size: 1.5rem;
      margin: 1rem auto 1rem auto;
      padding: 1rem; }
      .login-main fieldset .login-main-error ul li {
        list-style-type: none;
        color: #990000; }
    .login-main fieldset .signup-main-confim {
      width: 100%;
      height: 70vh;
      margin: 1rem auto 1rem auto;
      padding: 1rem; }
      .login-main fieldset .signup-main-confim p {
        font-size: 1.5rem; }
      .login-main fieldset .signup-main-confim button {
        padding: .5rem 1.5rem;
        margin: 1rem;
        font-size: 1.2rem;
        background-color: #000;
        border: 3px solid #B744B8;
        border-radius: 5px;
        cursor: pointer; }
        .login-main fieldset .signup-main-confim button a {
          text-decoration: none;
          color: #B744B8; }
        .login-main fieldset .signup-main-confim button:hover {
          color: #FFD400;
          border: 3px solid #FFD400; }
          .login-main fieldset .signup-main-confim button:hover a {
            color: #FFD400; }
    .login-main fieldset .login-main-form-gridcontainer {
      margin: auto;
      display: grid;
      width: 50%;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "login-main-form-gridcontainer-email login-main-form-gridcontainer-password" "login-main-form-gridcontainer-submit login-main-form-gridcontainer-submit"; }
      .login-main fieldset .login-main-form-gridcontainer section {
        text-align: left;
        font-size: 1.2rem;
        padding: 1rem; }
        .login-main fieldset .login-main-form-gridcontainer section label,
        .login-main fieldset .login-main-form-gridcontainer section input {
          display: block;
          margin: .5rem; }
        .login-main fieldset .login-main-form-gridcontainer section input {
          padding: .5rem;
          border: none;
          border-radius: 5px; }
        .login-main fieldset .login-main-form-gridcontainer section input[type="text"]:focus,
        .login-main fieldset .login-main-form-gridcontainer section input[type="email"]:focus,
        .login-main fieldset .login-main-form-gridcontainer section input[type="password"]:focus {
          outline: none;
          box-shadow: 0 0 0 4px #b744b8; }
      .login-main fieldset .login-main-form-gridcontainer .login-main-form-gridcontainer-email {
        grid-area: login-main-form-gridcontainer-email;
        margin: 1rem; }
      .login-main fieldset .login-main-form-gridcontainer .login-main-form-gridcontainer-password {
        grid-area: login-main-form-gridcontainer-password;
        margin: 1rem; }
      .login-main fieldset .login-main-form-gridcontainer .login-main-form-gridcontainer-submit {
        grid-area: login-main-form-gridcontainer-submit;
        margin: 1rem; }
        .login-main fieldset .login-main-form-gridcontainer .login-main-form-gridcontainer-submit input {
          font-size: 1rem;
          padding: .5rem;
          color: #B744B8;
          background-color: #000;
          border: 3px solid #B744B8;
          border-radius: 5px;
          cursor: pointer; }
          .login-main fieldset .login-main-form-gridcontainer .login-main-form-gridcontainer-submit input:hover {
            color: #FFD400;
            border: 3px solid #FFD400; }

.admin-main {
  width: 80%;
  margin: auto;
  text-align: center; }
  .admin-main .admin-main-form {
    width: 80%;
    margin: auto;
    text-align: center; }
    .admin-main .admin-main-form input {
      margin-bottom: 1rem; }
  .admin-main .admin-main-error ul li {
    list-style-type: none; }

.admin-menu-main {
  width: 80%;
  margin: auto;
  text-align: center; }
  .admin-menu-main .admin-menu-main-menu {
    width: 20%;
    margin: auto;
    padding: 1rem;
    font-size: 2rem;
    border: 1px solid #000; }

.users-main {
  width: 80%;
  margin: auto; }
  .users-main .users-main-newuser {
    margin: 0rem auto 2rem auto;
    border: 1px solid #000; }
  .users-main .users-main-list {
    margin: auto;
    padding: 2rem; }
    .users-main .users-main-list table,
    .users-main .users-main-list th,
    .users-main .users-main-list td {
      border: 1px solid #000; }
    .users-main .users-main-list table {
      width: 100%;
      border-collapse: collapse; }
      .users-main .users-main-list table th,
      .users-main .users-main-list table td {
        padding: 1rem; }

.show-main {
  width: 80%;
  margin: auto; }
  .show-main .show-main-user {
    margin: auto;
    padding: 2rem; }
    .show-main .show-main-user table,
    .show-main .show-main-user th,
    .show-main .show-main-user td {
      border: 1px solid #000; }
    .show-main .show-main-user table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 1rem; }
      .show-main .show-main-user table th,
      .show-main .show-main-user table td {
        padding: 1rem; }

.edit-main {
  width: 80%;
  margin: auto;
  color: #fff; }
  .edit-main .edit-main-user {
    margin: auto;
    padding: 2rem; }
    .edit-main .edit-main-user h2,
    .edit-main .edit-main-user h3 {
      margin-bottom: 2rem; }
    .edit-main .edit-main-user table,
    .edit-main .edit-main-user th,
    .edit-main .edit-main-user td {
      text-align: center;
      color: #fff;
      border: 1px solid #fff; }
    .edit-main .edit-main-user table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 1rem; }
      .edit-main .edit-main-user table th,
      .edit-main .edit-main-user table td {
        padding: 1rem; }
        .edit-main .edit-main-user table th input,
        .edit-main .edit-main-user table td input {
          padding: .5rem;
          border-radius: 5px; }
          .edit-main .edit-main-user table th input:focus,
          .edit-main .edit-main-user table td input:focus {
            outline: none;
            box-shadow: 0 0 0 4px #b744b8; }
        .edit-main .edit-main-user table th input[type=submit],
        .edit-main .edit-main-user table td input[type=submit] {
          font-size: 1rem;
          padding: .5rem;
          color: #B744B8;
          background-color: #000;
          border: 3px solid #B744B8;
          border-radius: 5px;
          cursor: pointer; }
          .edit-main .edit-main-user table th input[type=submit]:hover,
          .edit-main .edit-main-user table td input[type=submit]:hover {
            color: #FFD400;
            border: 3px solid #FFD400; }
    .edit-main .edit-main-user a {
      font-size: 1.5rem;
      color: #B744B8; }

.delete-main {
  width: 80%;
  margin: auto; }
  .delete-main .delete-main-user {
    margin: auto;
    padding: 2rem; }
    .delete-main .delete-main-user table,
    .delete-main .delete-main-user th,
    .delete-main .delete-main-user td {
      border: 1px solid #000; }
    .delete-main .delete-main-user table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 1rem; }
      .delete-main .delete-main-user table th,
      .delete-main .delete-main-user table td {
        padding: 1rem; }

.contact-main {
  width: 80%;
  height: auto;
  min-height: 50vh;
  margin: auto;
  text-align: center; }
  .contact-main fieldset {
    width: 80%;
    margin: 0 auto 0 auto;
    color: #B744B8; }
    .contact-main fieldset legend {
      font-size: 2rem;
      padding: 3px 6px; }
    .contact-main fieldset .contact-main-error {
      width: 50%;
      font-size: 1.5rem;
      margin: 1rem auto 1rem auto;
      padding: 1rem; }
      .contact-main fieldset .contact-main-error ul li {
        list-style-type: none;
        color: #990000; }
    .contact-main fieldset .contact-main-confim {
      width: 100%;
      height: 70vh;
      margin: 1rem auto 1rem auto;
      padding: 1rem; }
      .contact-main fieldset .contact-main-confim p {
        font-size: 1.5rem; }
    .contact-main fieldset .contact-main-form-gridcontainer {
      margin: auto;
      display: grid;
      width: 50%;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "contact-main-form-gridcontainer-name contact-main-form-gridcontainer-email" "contact-main-form-gridcontainer-message contact-main-form-gridcontainer-message" "contact-main-form-gridcontainer-submit contact-main-form-gridcontainer-submit"; }
      .contact-main fieldset .contact-main-form-gridcontainer section {
        text-align: left;
        font-size: 1.2rem;
        padding: 1rem; }
        .contact-main fieldset .contact-main-form-gridcontainer section label,
        .contact-main fieldset .contact-main-form-gridcontainer section input {
          display: block;
          margin: .5rem; }
        .contact-main fieldset .contact-main-form-gridcontainer section input {
          width: 100%;
          padding: .5rem;
          border: none;
          border-radius: 5px; }
        .contact-main fieldset .contact-main-form-gridcontainer section input[type="text"]:focus,
        .contact-main fieldset .contact-main-form-gridcontainer section input[type="email"]:focus {
          outline: none;
          box-shadow: 0 0 0 4px #b744b8; }
        .contact-main fieldset .contact-main-form-gridcontainer section textarea {
          width: 100%;
          height: auto;
          min-height: 50%;
          margin: .5rem;
          padding: .5rem;
          color: #000;
          border: none;
          border-radius: 5px; }
          .contact-main fieldset .contact-main-form-gridcontainer section textarea:focus {
            outline: none;
            box-shadow: 0 0 0 4px #b744b8; }
      .contact-main fieldset .contact-main-form-gridcontainer .contact-main-form-gridcontainer-name {
        grid-area: contact-main-form-gridcontainer-name;
        margin: 1rem; }
      .contact-main fieldset .contact-main-form-gridcontainer .contact-main-form-gridcontainer-email {
        grid-area: contact-main-form-gridcontainer-email;
        margin: 1rem; }
      .contact-main fieldset .contact-main-form-gridcontainer .contact-main-form-gridcontainer-message {
        grid-area: contact-main-form-gridcontainer-message;
        margin: 1rem; }
      .contact-main fieldset .contact-main-form-gridcontainer .contact-main-form-gridcontainer-submit {
        grid-area: contact-main-form-gridcontainer-submit;
        margin: 1rem; }
        .contact-main fieldset .contact-main-form-gridcontainer .contact-main-form-gridcontainer-submit input {
          font-size: 1rem;
          padding: .5rem;
          color: #B744B8;
          background-color: #000;
          border: 3px solid #B744B8;
          border-radius: 5px;
          cursor: pointer; }
          .contact-main fieldset .contact-main-form-gridcontainer .contact-main-form-gridcontainer-submit input:hover {
            color: #FFD400;
            border: 3px solid #FFD400; }

.menu-main {
  width: 80%;
  height: auto;
  min-height: 50vh;
  margin: auto;
  text-align: center;
  background-image: linear-gradient(to right bottom, rgba(247, 247, 247, 0.8), rgba(183, 68, 184, 0.8)), url("http://localhost/treat-migraine-naturally/public/images/brain.jpg");
  background-size: cover;
  background-position: top;
  position: relative; }
  .menu-main .menu-main-gridcontainer {
    margin: auto;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "menu-main-gridcontainer-title menu-main-gridcontainer-title" "menu-main-gridcontainer-section-one menu-main-gridcontainer-section-two"; }
  .menu-main .menu-main-gridcontainer-title {
    grid-area: menu-main-gridcontainer-title;
    margin: 1rem; }
    .menu-main .menu-main-gridcontainer-title .menu-main-gridcontainer-title-elastic {
      font-size: 5rem;
      text-transform: uppercase;
      font-weight: 700;
      background-image: linear-gradient(to right, #B744B8, #33032F);
      -webkit-background-clip: text;
      background-color: text;
      color: transparent;
      letter-spacing: 2px;
      transition: all .2s; }
      .menu-main .menu-main-gridcontainer-title .menu-main-gridcontainer-title-elastic:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }
  .menu-main .menu-main-gridcontainer-section-one {
    grid-area: menu-main-gridcontainer-section-one;
    position: relative;
    height: 10rem;
    margin: 1rem; }
    .menu-main .menu-main-gridcontainer-section-one .menu-main-gridcontainer-section-one-btn-wrap {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 8rem;
      padding: 1rem;
      position: relative;
      background: linear-gradient(240deg, #B744B8 0%, #33032F 49%, #B744B8 80%, #B744B8 100%);
      padding: 3px;
      margin-top: 1rem;
      border-radius: 10px;
      animation: rainbow 3s linear infinite; }
      .menu-main .menu-main-gridcontainer-section-one .menu-main-gridcontainer-section-one-btn-wrap a {
        text-decoration: none; }
      .menu-main .menu-main-gridcontainer-section-one .menu-main-gridcontainer-section-one-btn-wrap .menu-main-gridcontainer-section-one-btn {
        background: #000;
        color: #B744B8;
        text-align: center;
        font-size: 1rem;
        padding: .5rem; }

@keyframes rainbow {
  to {
    background-position: 8rem; } }
      .menu-main .menu-main-gridcontainer-section-one .menu-main-gridcontainer-section-one-btn-wrap:hover {
        background: linear-gradient(240deg, #FFD400 0%, #000 49%, #FFD400 80%, #FFD400 100%); }
        .menu-main .menu-main-gridcontainer-section-one .menu-main-gridcontainer-section-one-btn-wrap:hover .menu-main-gridcontainer-section-one-btn {
          color: #FFD400; }
  .menu-main .menu-main-gridcontainer-section-two {
    grid-area: menu-main-gridcontainer-section-two;
    height: 10rem;
    margin: 1rem;
    margin: 1rem; }
    .menu-main .menu-main-gridcontainer-section-two .menu-main-gridcontainer-section-two-btn-wrap {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 8rem;
      padding: 1rem;
      position: relative;
      background: linear-gradient(240deg, #B744B8 0%, #33032F 49%, #B744B8 80%, #B744B8 100%);
      padding: 3px;
      margin-top: 1rem;
      border-radius: 10px;
      animation: rainbow 3s linear infinite; }
      .menu-main .menu-main-gridcontainer-section-two .menu-main-gridcontainer-section-two-btn-wrap a {
        text-decoration: none; }
      .menu-main .menu-main-gridcontainer-section-two .menu-main-gridcontainer-section-two-btn-wrap .menu-main-gridcontainer-section-two-btn {
        background: #000;
        color: #B744B8;
        text-align: center;
        font-size: 1rem;
        padding: .5rem; }

@keyframes rainbow {
  to {
    background-position: 8rem; } }
      .menu-main .menu-main-gridcontainer-section-two .menu-main-gridcontainer-section-two-btn-wrap:hover {
        background: linear-gradient(240deg, #FFD400 0%, #000 49%, #FFD400 80%, #FFD400 100%); }
        .menu-main .menu-main-gridcontainer-section-two .menu-main-gridcontainer-section-two-btn-wrap:hover .menu-main-gridcontainer-section-two-btn {
          color: #FFD400; }

* {
  padding: 0;
  margin: 0; }

body {
  background-color: #000; }
