.add-main {
    width: 100%;
    height: auto;
    min-height: 100vh;
    margin: 0rem auto 0rem auto;
    padding-top: 10rem;
    text-align: center;

    background-image: linear-gradient(
        to right bottom,
        rgba(247, 247, 247, 0.8),
        rgba(183, 68, 184, 0.8)),
        url('http://localhost/treat-migraine-naturally/public/images/acquatic-jungle.jpg');

    background-size: cover;
    background-position: top;
    position: relative;

    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);

    fieldset {
        width: 80%;
        margin: 0rem auto 0rem auto;

        legend {
            font-size: 2rem;
            padding: 3px 6px;
        }

        .add-main-error {
            width: 50%;
            font-size: 1.5rem;
            margin: 1rem auto 1rem auto;
            padding: 1rem;
        
            ul {
    
                li {
                    list-style-type: none;
                    color: darken(#ff0000, 20%);
                }
            }

        }

        .add-main-confim {
            width: 100%;
            height: 70vh;
            margin: 1rem auto 1rem auto;
            padding: 1rem;

            p {
                font-size: 1.5rem;
            }

            button {
                padding: .5rem 1.5rem;
                margin: 1rem;
                font-size: 1.2rem;
                background-color: #000;
                border: 3px solid #B744B8;
                border-radius: 5px;
                cursor: pointer;

                a {
                    text-decoration: none;
                    color: #B744B8;
                }

                &:hover {
                    color: #FFD400;
                    border: 3px solid #FFD400;

                    a {
                        color: #FFD400;
                    }
                }

            }
        }

        .add-main-form-gridcontainer {
            margin: auto;
            display: grid;
            width: 50%;
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
            "add-main-form-gridcontainer-first-name add-main-form-gridcontainer-last-name"
            "add-main-form-gridcontainer-email add-main-form-gridcontainer-email-confirm"
            "add-main-form-gridcontainer-password add-main-form-gridcontainer-password-confirm"
            "add-main-form-gridcontainer-submit add-main-form-gridcontainer-submit";

            section {
                text-align: left;
                font-size: 1.2rem;
                padding: 1rem;
    
                label,
                input {
                    display: block;
                    margin: .5rem;
                }
    
                input {
                    padding: .5rem;
                    border: none;
                    border-radius: 5px;
                }
    
                input[type="text"]:focus,
                input[type="email"]:focus,
                input[type="password"]:focus {
                    outline: none;
                    box-shadow: 0 0 0 4px rgb(183, 68, 184);
                }
            }

            .add-main-form-gridcontainer-first-name {
                grid-area: add-main-form-gridcontainer-first-name;
                margin: 1rem;
            }

            .add-main-form-gridcontainer-last-name {
                grid-area: add-main-form-gridcontainer-last-name;
                margin: 1rem;
            }

            .add-main-form-gridcontainer-email {
                grid-area: add-main-form-gridcontainer-email;
                margin: 1rem;
            }

            .add-main-form-gridcontainer-email-confirm {
                grid-area: add-main-form-gridcontainer-email-confirm;
                margin: 1rem;
            }

            .add-main-form-gridcontainer-password {
                grid-area: add-main-form-gridcontainer-password;
                margin: 1rem;
            }

            .add-main-form-gridcontainer-password-confirm {
                grid-area: add-main-form-gridcontainer-password-confirm;
                margin: 1rem;
            }

            .add-main-form-gridcontainer-submit {
                grid-area: add-main-form-gridcontainer-submit;
                margin: 0rem 1rem 1rem 1rem;

                input {
                    font-size: 1rem;
                    padding: .5rem;
                    color: #B744B8;
                    background-color: #000;
                    border: 3px solid #B744B8;
                    border-radius: 5px;
                    cursor: pointer;
    
                    &:hover {
                        color: #FFD400;
                        border: 3px solid #FFD400;
                    }
                }
            }

        }
    }
}

/*
* Media Queries
* for tablets screens
* max 1024px
*/
@media (max-width: 1024px) {

    .add-main {
        fieldset {
            .add-main-form-gridcontainer {
                width: 100%;
            }
        }
    }

}

/*
* Media Queries
* for smartphone screens
* not in landscape
* max 480px
*/
@media (max-width: 480px) {

    .add-main {
        width: 90%;

        fieldset {
            width: 80%;

            .add-main-error {
                width: 80%;
            }

            .add-main-confim {
                width: 80%;
                height: 30vh;
            }

            .add-main-form-gridcontainer {
                grid-template-columns: 1fr;
                justify-content: center;
                grid-template-areas:
                "add-main-form-gridcontainer-first-name"
                "add-main-form-gridcontainer-last-name"
                "add-main-form-gridcontainer-email"
                "add-main-form-gridcontainer-email-confirm"
                "add-main-form-gridcontainer-password"
                "add-main-form-gridcontainer-password-confirm"
                "add-main-form-gridcontainer-submit";

                section {
                    font-size: 1.5rem;

                    input {
                        font-size: 1.2rem;
                    }
                }

                .add-main-form-gridcontainer-submit {
                    input {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }

}

/*
* Media Queries
* for smartphone screens
* not in landscape
* max 320px
*/
@media (max-width: 320px) {

    .add-main {
        width: 100%;
        fieldset {
            legend {
                font-size: 1.5rem;
            }

            .add-main-error {
                text-align: left;
            }

            .add-main-confim {
                width: 80%;
                height: 50vh;
            }

            .add-main-form-gridcontainer {

                section {
                    font-size: 1.2rem;

                    input {
                        font-size: 1rem;
                    }
                }

                .add-main-form-gridcontainer-submit {
                    input {
                        font-size: 1.2rem;
                    }
                }

            }
        }
    }

}

/*
* Media Queries
* for smartphone screens
* not in landscape
* max 240px
*/
@media (max-width: 240px) {

    .add-main {

        fieldset {

            legend {
                font-size: 1.2rem;
            }

            .add-main-error {
                font-size: 1rem;
            }

            .add-main-confim {
                height: 70vh;

                p {
                    font-size: 1.2rem;
                }

                button {
                    font-size: .8rem;
                }

            }

            .add-main-form-gridcontainer {
                width: auto;

                section {
                    font-size: 1rem;
                    padding: 0rem;

                    input {
                        font-size: .8rem;
                    }
                }

                .add-main-form-gridcontainer-submit {
                    input {
                        font-size: 1rem;
                    }
                }
            }

        }

    }    

}