.admin-menu-main {

    width: 80%;
    margin: auto;
    text-align: center;

    .admin-menu-main-menu {
        width: 20%;
        margin: auto;
        padding: 1rem;
        font-size: 2rem;
        border: 1px solid #000;
    }

}