.contact-main {
    width: 80%;
    height: auto;
    min-height: 50vh;
    margin: auto;
    text-align: center;

    fieldset {
        width: 80%;
        margin: 0 auto 0 auto;
        color: $purple-primary;

        legend {
            font-size: 2rem;
            padding: 3px 6px;
        }
    
        .contact-main-error {
            width: 50%;
            font-size: 1.5rem;
            margin: 1rem auto 1rem auto;
            padding: 1rem;
        
            ul {
    
                li {
                    list-style-type: none;
                    color: darken(#ff0000, 20%);
                }
            }
        }

        .contact-main-confim {
            width: 100%;
            height: 70vh;
            margin: 1rem auto 1rem auto;
            padding: 1rem;

            p {
                font-size: 1.5rem;
            }
        }

        .contact-main-form-gridcontainer {
            margin: auto;
            display: grid;
            width: 50%;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
            "contact-main-form-gridcontainer-name contact-main-form-gridcontainer-email"
            "contact-main-form-gridcontainer-message contact-main-form-gridcontainer-message"
            "contact-main-form-gridcontainer-submit contact-main-form-gridcontainer-submit";

            section {
                text-align: left;
                font-size: 1.2rem;
                padding: 1rem;

                label,
                input {
                    display: block;
                    margin: .5rem;
                }

                input {
                    width: 100%;
                    padding: .5rem;
                    border: none;
                    border-radius: 5px;
                }

                input[type="text"]:focus,
                input[type="email"]:focus {
                    outline: none;
                    box-shadow: 0 0 0 4px rgb(183, 68, 184);
                }

                textarea {
                    width: 100%;
                    height: auto;
                    min-height: 50%;
                    margin: .5rem;
                    padding: .5rem;
                    color: #000;
                    border: none;
                    border-radius: 5px;

                    &:focus {
                        outline: none;
                        box-shadow: 0 0 0 4px rgb(183, 68, 184);
                    }
                }
            }

            .contact-main-form-gridcontainer-name {
                grid-area: contact-main-form-gridcontainer-name;
                margin: 1rem;
            }

            .contact-main-form-gridcontainer-email {
                grid-area: contact-main-form-gridcontainer-email;
                margin: 1rem;
            }

            .contact-main-form-gridcontainer-message {
                grid-area: contact-main-form-gridcontainer-message;
                margin: 1rem;
            }

            .contact-main-form-gridcontainer-submit {
                grid-area: contact-main-form-gridcontainer-submit;
                margin: 1rem;

                input {
                    font-size: 1rem;
                    padding: .5rem;
                    color: $purple-primary;
                    background-color: #000;
                    border: 3px solid $purple-primary;
                    border-radius: 5px;
                    cursor: pointer;
    
                    &:hover {
                        color: $yellow-primary;
                        border: 3px solid $yellow-primary;
                    }
                }
            }

        }
    }

}

/*
* Media Queries
* for tablets screens
* max 1024px
*/
@media (max-width: 1024px) {

    .contact-main {
        fieldset {
            .contact-main-form-gridcontainer {
                width: 80%;
            }
        }
    }

}

/*
* Media Queries
* screens large max 600px
*/
@media (max-width: 600px) {

    .contact-main {
        fieldset {
            width: 100%;
            .contact-main-form-gridcontainer {
                width: 100%;
                grid-template-areas: 
                "contact-main-form-gridcontainer-name contact-main-form-gridcontainer-name"
                "contact-main-form-gridcontainer-email contact-main-form-gridcontainer-email"
                "contact-main-form-gridcontainer-message contact-main-form-gridcontainer-message"
                "contact-main-form-gridcontainer-submit contact-main-form-gridcontainer-submit";

                section {
                    input[type="text"],
                    input[type="email"],
                    input[type="submit"] {
                        width: 70%;
                    }

                    textarea {
                        width: 70%;
                    }
                }
            }
        }
    }    

}

/*
* Media Queries
* for tablets screens
* not in landscape
* max 480px
*/
@media (max-width: 480px) {

    .contact-main {
        width: 100%;
        fieldset {
            width: 90%;
            .contact-main-error {
                width: 80%;
            }

            .contact-main-confim {
                width: 80%;
                height: 30vh;
            }

            .contact-main-form-gridcontainer {
                grid-template-columns: 1fr;
                justify-items: left;
                grid-template-areas: 
                "contact-main-form-gridcontainer-name"
                "contact-main-form-gridcontainer-email"
                "contact-main-form-gridcontainer-message"
                "contact-main-form-gridcontainer-submit";

                section {
                    font-size: 1.5rem;

                    input {
                        font-size: 1.2rem;
                        padding: .8rem;
                    }

                    textarea {
                        width: 90%;
                        font-size: 1.2rem;
                    }
                }

                .contact-main-form-gridcontainer-message {
                    width: 80%;
                }

                .contact-main-form-gridcontainer-submit {
                    width: 80%;
                    input {
                        font-size: 1.2rem;
                        padding: 1rem;
                    }
                }
            }
        }
    }

}

/*
* Media Queries
* for smartphone screens
* not in landscape
* max 320px
*/
@media (max-width: 320px) {

    .contact-main {
        fieldset {
            .contact-main-error {
                text-align: left;
            }

            .contact-main-form-gridcontainer {
                section {
                    font-size: 1.2rem;

                    input {
                        font-size: 1rem;
                    }

                    textarea {
                        font-size: 1rem;
                    }
                }

                .contact-main-form-gridcontainer-submit {
                    input {
                        font-size: 1rem;
                        padding: .8rem;
                    }
                }
            }
        }
    }

}