.delete-main {
    width: 80%;
    margin: auto;

    .delete-main-user {
        margin: auto;
        padding: 2rem;

        table,
        th,
        td {
            border: 1px solid #000;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 1rem;

            th,
            td {
                padding: 1rem;
            }            
        }
    }
}