.thanks-page-main {
    text-align: center;
    color: $purple-primary;

    h2 {
        font-size: 3rem;
    }

    p {
        font-size: 1.5rem;
    }
}

/*
* Media Queries
* for smartphone screens
* not in landscape
* max 480px
*/
@media (max-width: 480px) {

    .thanks-page-main {
        width: 90%;
        margin: auto;

        h2 {
            font-size: 2.5rem;
            margin-bottom: 1rem;
        }

        p {
            font-size: 1.5rem;
        }
    }

}

/*
* Media Queries
* for smartphone screens
* not in landscape
* max 320px
*/
@media (max-width: 320px) {

    .thanks-page-main {

        h2 {
            font-size: 2rem;
        }

        p {
            font-size: 1.2rem;
        }

    }

}