.healthy-main-page-one {
    width: 90%;
    height: auto;
    min-height: 100vh;
    margin: 2rem auto 0rem auto;
    padding-top: 10rem;
    color: #fff;

    background-image: linear-gradient(
        to right bottom,
        rgba(247, 247, 247, 0.8),
        rgba(183, 68, 184, 0.8)),
        url('http://localhost/treat-migraine-naturally/public/images/sunflower.jpg'); // Photo by Jem Sahagun on Unsplash

    background-size: cover;
    background-position: top;
    position: relative;

    fieldset {
        width: 80%;
        text-align: center;
        color: $purple-secondary;
        margin: 0rem auto 0rem auto;

        legend {
            font-size: 2rem;
            padding: 3px 6px;
        }

        .healthy-main-page-one-error {
            width: 50%;
            font-size: 1.5rem;
            margin: 1rem auto 1rem auto;
            padding: 1rem;
        
            ul {
    
                li {
                    list-style-type: none;
                    color: darken(#ff0000, 20%);
                }
            }
        }

        .healthy-main-page-one-title {

            h2 {
                font-size: 5rem;
                text-transform: uppercase;
                font-weight: 700;
                background-image: linear-gradient(to right, $purple-primary, $purple-secondary);
                -webkit-background-clip: text;
                background-color: text;
                color: transparent;
                letter-spacing: 2px;
                transition: all .2s;

                &:hover {
                    transform: skewY(2deg) skewX(15deg) scale(1.1);
                    text-shadow: .5rem 1rem 2rem rgba(0, 0, 0, .2);
                }
            }
        }

        .healthy-main-page-one-form-gridcontainer {
            margin: auto;
            display: grid;
            width: 50%;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
            "healthy-main-page-one-form-gridcontainer-personal-title healthy-main-page-one-form-gridcontainer-surname"
            "healthy-main-page-one-form-gridcontainer-email healthy-main-page-one-form-gridcontainer-personal-telephone"
            "healthy-main-page-one-form-gridcontainer-personal-address-line-one healthy-main-page-one-form-gridcontainer-personal-address-line-two"
            "healthy-main-page-one-form-gridcontainer-personal-city healthy-main-page-one-form-gridcontainer-personal-country"
            "healthy-main-page-one-form-gridcontainer-personal-postcode healthy-main-page-one-form-gridcontainer-personal-postcode"
            "healthy-main-page-one-form-gridcontainer-personal-age healthy-main-page-one-form-gridcontainer-personal-gender"
            "healthy-main-page-one-form-gridcontainer-personal-occupation healthy-main-page-one-form-gridcontainer-personal-occupation"
            "healthy-main-page-one-form-gridcontainer-personal-next healthy-main-page-one-form-gridcontainer-personal-next";

            input,
            label {
                display: block;
                text-align: left;
            }

            label {
                font-size: 1.3rem;
                margin-bottom: .5rem;
            }

            input {
                padding: .5rem;
                border: none;
                border-radius: 5px;
            }

            input[type="text"]:focus,
            input[type="email"]:focus,
            input[type="password"]:focus {
                outline: none;
                box-shadow: 0 0 0 4px rgb(183, 68, 184);
            }

            .healthy-main-page-one-form-gridcontainer-personal-title {
                grid-area: healthy-main-page-one-form-gridcontainer-personal-title;
                margin: 1rem;
            }

            .healthy-main-page-one-form-gridcontainer-surname {
                grid-area: healthy-main-page-one-form-gridcontainer-surname;
                margin: 1rem;
            }

            .healthy-main-page-one-form-gridcontainer-email {
                grid-area: healthy-main-page-one-form-gridcontainer-email;
                margin: 1rem;
            }

            .healthy-main-page-one-form-gridcontainer-personal-telephone {
                grid-area: healthy-main-page-one-form-gridcontainer-personal-telephone;
                margin: 1rem;
            }

            .healthy-main-page-one-form-gridcontainer-personal-address-line-one {
                grid-area: healthy-main-page-one-form-gridcontainer-personal-address-line-one;
                margin: 1rem;
            }

            .healthy-main-page-one-form-gridcontainer-personal-address-line-two {
                grid-area: healthy-main-page-one-form-gridcontainer-personal-address-line-two;
                margin: 1rem;
            }

            .healthy-main-page-one-form-gridcontainer-personal-city {
                grid-area: healthy-main-page-one-form-gridcontainer-personal-city;
                margin: 1rem;
            }

            .healthy-main-page-one-form-gridcontainer-personal-country {
                grid-area: healthy-main-page-one-form-gridcontainer-personal-country;
                margin: 1rem;
            }

            .healthy-main-page-one-form-gridcontainer-personal-postcode {
                grid-area: healthy-main-page-one-form-gridcontainer-personal-postcode;
                margin: 1rem;
            }

            .healthy-main-page-one-form-gridcontainer-personal-age {
                grid-area: healthy-main-page-one-form-gridcontainer-personal-age;
                margin: 1rem;
            }

            .healthy-main-page-one-form-gridcontainer-personal-gender {
                grid-area: healthy-main-page-one-form-gridcontainer-personal-gender;
                margin: 1rem;
            }

            .healthy-main-page-one-form-gridcontainer-personal-occupation {
                grid-area: healthy-main-page-one-form-gridcontainer-personal-occupation;
                margin: 1rem;
            }

            .healthy-main-page-one-form-gridcontainer-personal-next {
                grid-area: healthy-main-page-one-form-gridcontainer-personal-next;
                margin: 1rem;

                input {
                    font-size: 1rem;
                    padding: .5rem;
                    color: #B744B8;
                    background-color: #000;
                    border: 3px solid #B744B8;
                    border-radius: 5px;
                    cursor: pointer;
    
                    &:hover {
                        color: #FFD400;
                        border: 3px solid #FFD400;
                    }
                }
            }
        }
    }
}

/*
* Media Queries
* for tablets screens
* not in landscape
* max 800px
*/
@media (max-width: 800px) {

    .healthy-main-page-one {
        fieldset {
            .healthy-main-page-one-form-gridcontainer {
                width: 80%;
            }
        }
    }

}

/*
* Media Queries
* screens large max 600px
*/
@media (max-width: 600px) {

    .healthy-main-page-one {
        fieldset {
            .healthy-main-page-one-form-gridcontainer {
                width: 100%;
            }
        }
    }

}

/*
* Media Queries
* for smartphone screens
* not in landscape
* max 480px
*/
@media (max-width: 480px) {

    .healthy-main-page-one {
        fieldset {
            width: 90%;

            .healthy-main-page-one-error {
                width: 80%;
            }

            .healthy-main-page-one-title {
                h2 {
                    font-size: 3rem;
                }
            }

            .healthy-main-page-one-form-gridcontainer {
                grid-template-columns: 1fr;
                justify-items: center;
                grid-template-areas:
                "healthy-main-page-one-form-gridcontainer-personal-title"
                "healthy-main-page-one-form-gridcontainer-surname"
                "healthy-main-page-one-form-gridcontainer-email"
                "healthy-main-page-one-form-gridcontainer-personal-telephone"
                "healthy-main-page-one-form-gridcontainer-personal-address-line-one"
                "healthy-main-page-one-form-gridcontainer-personal-address-line-two"
                "healthy-main-page-one-form-gridcontainer-personal-city"
                "healthy-main-page-one-form-gridcontainer-personal-country"
                "healthy-main-page-one-form-gridcontainer-personal-postcode"
                "healthy-main-page-one-form-gridcontainer-personal-postcode"
                "healthy-main-page-one-form-gridcontainer-personal-age"
                "healthy-main-page-one-form-gridcontainer-personal-gender"
                "healthy-main-page-one-form-gridcontainer-personal-occupation"
                "healthy-main-page-one-form-gridcontainer-personal-occupation"
                "healthy-main-page-one-form-gridcontainer-personal-next"
                "healthy-main-page-one-form-gridcontainer-personal-next";

                label {
                    font-size: 1.5rem;
                }

                input {
                    font-size: 1.2rem;
                }

                .healthy-main-page-one-form-gridcontainer-personal-next {
                    input {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }

}

/*
* Media Queries
* for smartphone screens
* not in landscape
* max 320px
*/
@media (max-width: 320px) {

    .healthy-main-page-one {
        fieldset {

            legend {
                font-size: 1.5rem;
            }

            .healthy-main-page-one-error {
                font-size: 1.3rem;
            }

            .healthy-main-page-one-title {
                h2 {
                    font-size: 2.5rem;
                }
            }

            .healthy-main-page-one-form-gridcontainer {
                label {
                    font-size: 1.3rem;
                }

                input {
                    font-size: 1rem;
                }

                .healthy-main-page-one-form-gridcontainer-personal-next {
                    input {
                        font-size: 1rem;
                    }
                }
            }
        }
    }

}

/*
* Media Queries
* for smartphone screens
* not in landscape
* max 240px
*/
@media (max-width: 240px) {

    .healthy-main-page-one {
        fieldset {

            legend {
                font-size: 1.2rem;
            }

            .healthy-main-page-one-error {
                font-size: 1rem;
            }

            .healthy-main-page-one-title {
                h2 {
                    font-size: 2rem;
                }
            }

            .healthy-main-page-one-form-gridcontainer {
                width: auto;

                section {
                    font-size: 1rem;
                    padding: 0rem;

                    input {
                        font-size: .8rem;
                    }
                }

                .healthy-main-page-one-form-gridcontainer-personal-next {
                    input {
                        font-size: 1rem;
                    }
                }
            }

        }
    }

}