.main-home-gridcontainer {
    height: auto;
    margin: 0 auto;

    background-image: linear-gradient(
        to right bottom,
        rgb(0, 0, 0),
        rgba(51, 3, 47, 1)
    );
    
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 
    "container-one container-one container-one container-one container-one container-one"
    "container-two container-two container-two container-two container-three container-three"
    "container-four container-four container-four container-five container-five container-five";

    .main-home-gridcontainer-container-one {
        grid-area: container-one;
        width: 95%;
        height: 70%;
        margin: auto;
        border-radius: 5px;

        .main-home-gridcontainer-single-content-one {
            position: absolute;
            bottom: 20%;
            padding: 6rem;
            color: #fff;

            font-size: 1.3rem;
            line-height: 1.6;
        }

        img {
            display: block;
            width: 100%;
            object-position: 0px -100px;
        }
    }

    .main-home-gridcontainer-container-two {
        grid-area: container-two;
        width: 95%;
        height: 90%;
        margin: auto;
        border-radius: 5px;
        border: 1px solid #000;

        .main-home-gridcontainer-single-content-two {
            position: absolute;
            top: 0%;
            padding: 1rem;
            color: #fff;

            font-size: 1.3rem;
            line-height: 1.6;
        }

        img {
            display: block;
            width: 100%;
        }
    }

    .main-home-gridcontainer-container-three {
        grid-area: container-three;
        width: 90%;
        height: 90%;
        margin: auto;

        .main-home-gridcontainer-single-content-three {
            bottom: 5%;
            padding: 6rem;
            color: #fff;
            text-align: center;

            font-size: 1.3rem;
            line-height: 1.6;

            .fab {
                padding: 1rem;
                font-size: 2rem;
            }

            .fa-facebook-square {
                color: #3b5999;
            }

            .fa-instagram {
                color: #e4405f;
            }

            .fa-twitter-square {
                color: #55acee;
            }

            .fa-linkedin {
                color: #0077B5;
            }
        }

        img {
            display: block;
            width: 100%;
            border-radius: 50%;
        }
    }

    .main-home-gridcontainer-container-four {
        grid-area: container-four;
        width: 90%;
        height: 90%;
        margin: auto;
        border-radius: 5px;
        border: 1px solid #000;

        .main-home-gridcontainer-single-content-four {
            position: absolute;
            top: 0%;
            padding: 2rem;
            color: #fff;

            font-size: 1.3rem;
            line-height: 1.6;
        }

        img {
            display: block;
            width: 100%;
        }
    }

    .main-home-gridcontainer-container-five {
        grid-area: container-five;
        width: 90%;
        height: 90%;
        margin: auto;
        background-color: #000;
        border-radius: 5px;
        border: 1px solid #000;

        .main-home-gridcontainer-single-content-five {
            position: absolute;
            bottom: 0%;
            padding: 1rem;
            color: #fff;

            font-size: 1.3rem;
            line-height: 1.6;
        }

        img {
            display: block;
            width: 100%;
            object-position: 120px 0px;
        }
    }

    .main-home-gridcontainer-single {
        position: relative;
        overflow: hidden;
        font-family: 'Playfair Display', serif;

        .first-letter {
            font-size: 35px;
        }

        a {
            text-decoration: none;
            color: #B744B8;
        }

        .main-home-gridcontainer-single-btn-wrap {
            width: 8rem;
            padding: 1rem;
            position: relative;
            background: linear-gradient(240deg, #B744B8 0%, #33032F 49%, #B744B8 80%, #B744B8 100%);
            padding: 3px;
            margin-top: 1rem;
            border-radius: 10px;

            animation: rainbow 3s linear infinite;

            .main-home-gridcontainer-single-btn {
                background: #000;
                color: #B744B8;
                text-align: center;
                font-size: 1rem;
                padding: .5rem;
            }

            @keyframes rainbow {

                to {
                    background-position: 8rem;
                }
            
            }

            &:hover {
                background: linear-gradient(240deg, #FFD400 0%, #000 49%, #FFD400 80%, #FFD400 100%);

                .main-home-gridcontainer-single-btn {
                    color: #FFD400;
                }
            }
        }

    }

}