.main-home-gridcontainer {
    height: 80vh;
    margin: 0 auto;
    border: 1px solid #ff0000;

    background-image: linear-gradient(
        to right bottom,
        rgba(238, 210, 238, 0.8),
        rgba(239, 241, 243, 0.8)
    );
    
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 
    "container-one container-one container-one container-two container-two container-two"
    "container-three container-three container-four container-four container-five container-five";

    .main-home-gridcontainer-container-one {
        grid-area: container-one;
        width: 95%;
        height: 90%;
        margin: auto;
        border: 1px solid #000;
    }

    .main-home-gridcontainer-container-two {
        grid-area: container-two;
        width: 95%;
        height: 90%;
        margin: auto;
        border: 1px solid #000;
    }

    .main-home-gridcontainer-container-three {
        grid-area: container-three;
        width: 90%;
        height: 90%;
        margin: auto;
        border: 1px solid #000;
    }

    .main-home-gridcontainer-container-four {
        grid-area: container-four;
        width: 90%;
        height: 90%;
        margin: auto;
        border: 1px solid #000;
    }

    .main-home-gridcontainer-container-five {
        grid-area: container-five;
        width: 90%;
        height: 90%;
        margin: auto;
        border: 1px solid #000;
    }

    .main-home-gridcontainer-single {
        position: relative;
        overflow: hidden;

        .main-home-gridcontainer-single-content {
            position: absolute;
            top: 0%;
            padding: 2rem;
            color: #fff;

            font-size: 1.2rem;
            line-height: 1.6;
        }

        img {
            display: block;
            width: 100%;
        }

    }

}