.login-main {
    width: 80%;
    height: auto;
    min-height: 50vh;
    margin: auto;
    text-align: center;

    fieldset {
        width: 80%;
        margin: 0 auto 0 auto;
        color: #B744B8;

        legend {
            font-size: 2rem;
            padding: 3px 6px;
        }

        .login-main-error {
            width: 50%;
            font-size: 1.5rem;
            margin: 1rem auto 1rem auto;
            padding: 1rem;
        
            ul {
    
                li {
                    list-style-type: none;
                    color: darken(#ff0000, 20%);
                }
            }
        }

        .signup-main-confim {
            width: 100%;
            height: 70vh;
            margin: 1rem auto 1rem auto;
            padding: 1rem;

            p {
                font-size: 1.5rem;
            }

            button {
                padding: .5rem 1.5rem;
                margin: 1rem;
                font-size: 1.2rem;
                background-color: #000;
                border: 3px solid #B744B8;
                border-radius: 5px;
                cursor: pointer;

                a {
                    text-decoration: none;
                    color: #B744B8;
                }

                &:hover {
                    color: #FFD400;
                    border: 3px solid #FFD400;

                    a {
                        color: #FFD400;
                    }
                }

            }
        }

        .login-main-form-gridcontainer {
            margin: auto;
            display: grid;
            width: 50%;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
            "login-main-form-gridcontainer-email login-main-form-gridcontainer-password"
            "login-main-form-gridcontainer-submit login-main-form-gridcontainer-submit";

            section {
                text-align: left;
                font-size: 1.2rem;
                padding: 1rem;

                label,
                input {
                    display: block;
                    margin: .5rem;
                }

                input {
                    padding: .5rem;
                    border: none;
                    border-radius: 5px;
                }

                input[type="text"]:focus,
                input[type="email"]:focus,
                input[type="password"]:focus {
                    outline: none;
                    box-shadow: 0 0 0 4px rgb(183, 68, 184);
                }
            }

            .login-main-form-gridcontainer-email {
                grid-area: login-main-form-gridcontainer-email;
                margin: 1rem;
            }

            .login-main-form-gridcontainer-password {
                grid-area: login-main-form-gridcontainer-password;
                margin: 1rem;
            }

            .login-main-form-gridcontainer-submit {
                grid-area: login-main-form-gridcontainer-submit;
                margin: 1rem;

                input {
                    font-size: 1rem;
                    padding: .5rem;
                    color: #B744B8;
                    background-color: #000;
                    border: 3px solid #B744B8;
                    border-radius: 5px;
                    cursor: pointer;
    
                    &:hover {
                        color: #FFD400;
                        border: 3px solid #FFD400;
                    }
                }
            }
        }

    }

}

/*
* Media Queries
* for tablets screens in landscape
* max 1024px
*/
@media (max-width: 1024px) {

    .login-main {
        fieldset {
            .login-main-form-gridcontainer {
                width: 80%;
            } 
        }
    }

}

/*
* Media Queries
* for tablets screens
* not in landscape
* max 800px
*/
@media (max-width: 800px) {

    .login-main {
        fieldset {
            .login-main-form-gridcontainer {
                width: 100%;
            }
        }
    }

}

/*
* Media Queries
* for tablets screens
* not in landscape
* max 400px
*/
@media (max-width: 480px) {

    .login-main {
        width: 90%;
        fieldset {
            width: 100%;

            .login-main-error {
                width: 80%;
            }

            .login-main-form-gridcontainer {
                grid-template-columns: 1fr;
                justify-items: center;
                grid-template-areas: 
                "login-main-form-gridcontainer-email"
                "login-main-form-gridcontainer-password"
                "login-main-form-gridcontainer-submit";

                section {
                    font-size: 1.5rem;

                    input {
                        font-size: 1.2rem;
                    }
                }

                .login-main-form-gridcontainer-submit {
                    input {
                        font-size: 1.5rem;
                        padding: .8rem;
                    }
                }
            }
        }
    }

}