.signup-main {
    width: 100%;
    height: 100vh;
    margin: 0rem auto 0rem auto;
    padding-top: 10rem;
    text-align: center;

    background-image: linear-gradient(
        to right bottom,
        rgba(247, 247, 247, 0.8),
        rgba(183, 68, 184, 0.8)),
        url('http://localhost/treat-migraine-naturally/public/images/acquatic-jungle.jpg');

    background-size: cover;
    background-position: top;
    position: relative;

    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);

    fieldset {
        width: 80%;
        margin: 0rem auto 0rem auto;

        legend {
            font-size: 2rem;
            //background-color: #000;
            //color: #fff;
            padding: 3px 6px;
        }

    }

    .signup-main-form-gridcontainer {
        margin: auto;
        display: grid;
        width: 50%;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "signup-main-form-gridcontainer-firstname signup-main-form-gridcontainer-lastname"
        "signup-main-form-gridcontainer-email signup-main-form-gridcontainer-email-confirm"
        "signup-main-form-gridcontainer-password signup-main-form-gridcontainer-password-confirm"
        "signup-main-form-gridcontainer-submit signup-main-form-gridcontainer-submit";

        section {
            text-align: left;
            font-size: 1.2rem;
            padding: 1rem;

            label,
            input {
                display: block;
                margin: .5rem;
            }

            input {
                padding: .5rem;
                border: none;
                border-radius: 5px;
            }

            input[type="text"]:focus,
            input[type="email"]:focus,
            input[type="password"]:focus {
                outline: none;
                box-shadow: 0 0 0 4px rgb(183, 68, 184);
            }
        }

        .signup-main-form-gridcontainer-firstname {
            grid-area: signup-main-form-gridcontainer-firstname;
            margin: 1rem;
        }

        .signup-main-form-gridcontainer-lastname {
            grid-area: signup-main-form-gridcontainer-lastname;
            margin: 1rem;
        }

        .signup-main-form-gridcontainer-email {
            grid-area: signup-main-form-gridcontainer-email;
            margin: 1rem;
        }

        .signup-main-form-gridcontainer-email-confirm {
            grid-area: signup-main-form-gridcontainer-email-confirm;
            margin: 1rem;
        }

        .signup-main-form-gridcontainer-password {
            grid-area: signup-main-form-gridcontainer-password;
            margin: 1rem;
        }

        .signup-main-form-gridcontainer-password-confirm {
            grid-area: signup-main-form-gridcontainer-password-confirm;
            margin: 1rem;
        }

        .signup-main-form-gridcontainer-firstname {
            grid-area: signup-main-form-gridcontainer-firstname;
            margin: 1rem;
        }

        .signup-main-form-gridcontainer-submit {
            grid-area: signup-main-form-gridcontainer-submit;
            margin: 1rem;
        }
    }

    .signup-main-error {
        
        ul {

            li {
                list-style-type: none;
            }
        }
    }
}