footer {
    position: relative;
    height: 30vh;
    margin: 0rem auto 0rem auto;
    text-align: center;
    color: #fff;
    background-color: #000;

    .footer-content {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);

        .fab {
            padding: 1rem;
            font-size: 2rem;
        }
    
        .fa-facebook-square {
            color: #3b5999;
        }
    
        .fa-instagram {
            color: #e4405f;
        }
    
        .fa-twitter-square {
            color: #55acee;
        }
    
        .fa-linkedin {
            color: #0077B5;
        }

        span {
            color: #ff0000;
            font-size: 1.5rem;
        }

        .footer-cookie-policy-btn-wrap {
            width: 6rem;
            padding: 1rem;
            background: linear-gradient(240deg, #B744B8 0%, #33032F 49%, #B744B8 80%, #B744B8 100%);
            padding: 3px;
            margin: .5rem auto .5rem auto;
            border-radius: 10px;

            animation: rainbow 3s linear infinite;

            .footer-cookie-policy-btn {
                background: #000;
                color: #B744B8;
                text-align: center;
                font-size: 1rem;
                padding: .5rem;
            }

            @keyframes rainbow {

                to {
                    background-position: 8rem;
                }
            
            }

            input {
                color: $purple-primary;
                font-size: .8rem;
                background-color: #000;
                border: none;
            }

            &:hover {
                background: linear-gradient(240deg, #FFD400 0%, #000 49%, #FFD400 80%, #FFD400 100%);

                .main-home-gridcontainer-single-btn {
                    color: #FFD400;
                }

                input {
                    color: #FFD400;
                }
            }
        }
    }
}

/*
* Media Queries
* for smartphone screens
* not in landscape
* max 480px
*/
@media (max-width: 480px) {

    footer {
        .footer-content {
            width: 80%;

            p {
                margin-top: 2rem;
            }
        }
    }

}

/*
* Media Queries
* for smartphone screens
* not in landscape
* max 320px
*/
@media (max-width: 320px) {

    footer {
        height: 50vh;
    }

}

/*
* Media Queries
* for smartphone screens
* not in landscape
* max 240px
*/
@media (max-width: 240px) {

    footer {
        height: 100vh;

        .footer-content {
            width: 90%;
            top: 50%;

            .fab {
                font-size: 1.7rem;
            }
        }
    }

}