header {
    position: relative;
    height: 90vh;
    background-image: url('http://localhost/treat-migraine-naturally/public/images/sunflower.jpg'); // Photo by Jem Sahagun on Unsplash
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .header-navbar {
        width: 100%;
        padding: .5rem;

        li {
            display: inline;
            font-size: 1.5rem;
            padding: 1rem;
        }

        a {
            color: #fff;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
                text-decoration-color: #ffff00;
            }
        }

        .header-navbar-admin {
            
            a {
                color: yellow;
            }
        }

        .header-navbar-btn {
            color: #fff;
            float: right;
            margin: -1rem 1rem 0rem 0rem;

            .header-navbar-btn-log {
                font-size: 1rem;
                padding: .5rem;
                background-color: #000;
                border-radius: 5px;

                &:hover {
                    background-color: #fff;
                }
            }
        }
    }

    .header-headline {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2rem;
        color: #fff;
        text-align: center;
        padding: 2rem;
    }

}