header {
    position: relative;
    height: 100vh;
    // background-image: linear-gradient(
    //     to right bottom,
    //     rgba(126, 213, 111, 0.8),
    //     rgba(40, 180, 131, 0.8)
    // ),
    //url('http://localhost/treat-migraine-naturally/public/images/sunflower.jpg'); // Photo by Jem Sahagun on Unsplash
    //url('http://localhost/treat-migraine-naturally/public/images/brain.jpg'); // Photo by Gerd Altmann on Pixabay 
    //url('http://localhost/treat-migraine-naturally/public/images/brain-purple.jpg'); // Photo by Raman Oza on Pixabay 
    //url('http://localhost/treat-migraine-naturally/public/images/neuron.jpg'); // Photo by Josh Riemer on Unsplash
    //url('http://localhost/treat-migraine-naturally/public/images/sphere.jpg'); // Photo by Michael Dziedzic on Unsplash
    background-image: url('http://localhost/treat-migraine-naturally/public/images/brain-purple.jpg'); // Photo by Raman Oza on Pixabay 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .header-navbar {
        font-family: 'Open Sans Condensed', sans-serif;
        padding: 1rem;

        li {
            display: inline;
            font-size: 2rem;
            padding: 1rem;
        }

        a {
            color: #fff;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
                text-decoration-color: #B744B8;
            }
        }

        .header-navbar-admin {
            
            a {
                color: #FFD400;
            }
        }

        .header-navbar-btn {
            font-family: 'Redressed', cursive;
            color: #CC79CD;
            float: right;
            margin: -1rem 1rem 0rem 0rem;

            .header-navbar-btn-logout {
                font-size: 1rem;
                padding: .5rem;
                background-color: #000;
                border-radius: 5px;
                border: 1px solid #FFD400;

                a {
                    color: #FFD400;
                }

                &:hover {
                    border: 1px solid #B744B8;

                    a {
                        color: #B744B8;
                        text-decoration: none;
                    }
                }
            }

            .header-navbar-btn-login {
                font-size: 1rem;
                padding: .5rem;
                background-color: #000;
                border-radius: 5px;
                border: 1px solid #B744B8;

                a {
                    color: #B744B8;
                }

                &:hover {
                    border: 1px solid #FFD400;

                    a {
                        color: #FFD400;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .header-headline {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Redressed', cursive;
        font-size: 3rem;
        color: #fff;
        text-align: center;
        padding: 2rem;
    }

}